<form action="http://localhost:3000/api/sign-up" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="password" placeholder="password">
    <input type="text" name="email" placeholder="email">
    <input type="submit">
</form>
